
.home-layout .cover {
    height: 40rem;
    width: 100%;
    background-image: url('/src/assets/images/home-cover.jpg');
    background-position: bottom;
    background-size: cover;

}
.home-layout .cover::after {
    height: 40rem;
    width: 100%;
    background-color: black;
    position: absolute;
    content: ' ';
    opacity: .5;
}