
.cover {
    height: 90vh;
    width: 100vw;
    background-image: url('/src/assets/images/kitset.jpeg');
    background-position: center;
    background-size: cover;

}
.cover::after {
    height: 90vh;
    width: 100vw;
    background-color: black;
    position: absolute;
    content: ' ';
    opacity: .5;
}