
.home-layout .cover {
    height: 90vh;
    width: 100vw;
    background-image: url('/src/assets/images/wellcome_cover.jpeg');
    background-position: bottom;
    background-size: cover;

}
.home-layout .cover::after {
    height: 90vh;
    width: 100vw;
    background-color: black;
    position: absolute;
    content: ' ';
    opacity: .5;
}