.about-layout .cover {
    background-image: url('/src/assets/images/about_cover.jpg');
    height: 80vh;
    background-position: center;
    background-size: cover;
}
.about-layout .cover::after {
    height: 80vh;
    width: 100vw;
    background-color: black;
    position: absolute;
    content: ' ';
    opacity: .5;
}